
p{
    background-color:rgb(0, 255, 55) 
}

p2{
  background-color: rgb(255, 136, 0)
}

 h2{
    background-color: aqua;
} 
body {
    background-color: rgb(14, 99, 179);
  }
  
  h1 {
    color: rgb(yellow);
    text-align: center;
  }
  
  p {
    
    font-family: verdana;
    font-size: 20px;
  }